<web-app>  
 <servlet>
        <servlet-name>SessionTracker</servlet-name>
        <servlet-class>SessionTracker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTracker</servlet-name>
        <url-pattern>/SessionTracker</url-pattern>
    </servlet-mapping>

</web-app>
